In [1]:
#Importing libraries needed to perform selenium task
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.webdriver.common.action_chains import ActionChains
import time
time.sleep(5)

#importing pandas to creaate a data frame with the details scrapped
import pandas as pd

In [2]:
#creating web driver object
driver=webdriver.Chrome(executable_path='C:\\Users\\suren\\FlipRobo\\Micro-Credit-Project\\chromedriver.exe')

#defining url
url_='https://www.naukri.com/'

#initialising driver
driver.get(url_)

#maximizing the window
driver.maximize_window()

#Finding the skill,qualification,company field and storing it into a variable
search_box=driver.find_element(By.XPATH,'//input[@id="qsb-keyword-sugg"]')

#definign key word to search and Sending key word to search field
key_word = 'Data Analyst'
search_box.send_keys(key_word)

#Finding the location field and storing it into a variable
location_box=driver.find_element(By.XPATH,'//input[@id="qsb-location-sugg"]')

#definign location and sending it to location field
location = 'Bangalore'
location_box.send_keys(location)

#clicking on search button
driver.find_element(By.XPATH,'//div[@class="search-btn"]/button').click()

In [3]:
#creating empty list to append the details we scrap
job_title =[]
job_location =[]
company_name=[]
experience_required=[]

#getting xpath for each data and storing them in avariable
title=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
location=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
experience=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')

In [4]:
#looping title to restrict the counto to first 10 with indexing
for i in title[0:10]:
    job_title.append(i.text)
    
#looping location to restrict the count to first 10 with indexing
for i in location[0:10]:
    job_location.append(i.text)

#looping compny name to restrict the count to first 10 with indexing
for i in company[0:10]:
    company_name.append(i.text)
    
#looping experience to restrict the counto to first 10 with indexing
for i in experience[0:10]:
    experience_required.append(i.text)

In [5]:
job_data=pd.DataFrame({})
job_data['job_title']=job_title
job_data['job_location']=job_location
job_data['company_name']=company_name
job_data['experience_required']=experience_required

In [6]:
job_data.head(10)

Empty DataFrame
Columns: [job_title, job_location, company_name, experience_required]
Index: []

In [7]:
#closing the driver
driver.close()

# EXCERCISE II

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [8]:
#creating web driver object
driver=webdriver.Chrome(executable_path='C:\\Users\\suren\\FlipRobo\\Micro-Credit-Project\\chromedriver.exe')

#defining url
url_='https://www.naukri.com/'

#initialising driver
driver.get(url_)

#maximizing the window
driver.maximize_window()

#Finding the skill,qualification,company field and storing it into a variable
search_box=driver.find_element(By.XPATH,'//input[@id="qsb-keyword-sugg"]')

#definign key word to search and Sending key word to search field
key_word = 'Data Scientist'
search_box.send_keys(key_word)

#Finding the location field and storing it into a variable
location_box=driver.find_element(By.XPATH,'//input[@id="qsb-location-sugg"]')

#definign location and sending it to location field
location = 'Bangalore'
location_box.send_keys(location)

#clicking on search button
driver.find_element(By.XPATH,'//div[@class="search-btn"]/button').click()

In [9]:
#creating empty list to append the details we scrap
job_title_ds =[]
job_location_ds =[]
company_name_ds=[]
job_description_ds=[]
job_des_url=[]

#getting xpath for each data and storing them in avariable
title=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
location=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

In [10]:
#looping title to restrict the counto to first 10 with indexing
for i in title[0:10]:
    job_title_ds.append(i.text)
    
#looping location to restrict the count to first 10 with indexing
for i in location[0:10]:
    job_location_ds.append(i.text)

#looping compny name to restrict the count to first 10 with indexing
for i in company[0:10]:
    company_name_ds.append(i.text)
    
#appending url of each job to retrieve full job description
for i in title[0:10]:
    job_des_url.append(i.get_attribute('href'))

In [11]:
#retrieving full job description by loding each URL
from selenium.common.exceptions import NoSuchElementException
for i in job_des_url:
    driver.get(i)
    try:
        job_description_ds.append(driver.find_element_by_xpath('//section[@class="job-desc"]').text)
    except NoSuchElementException as e:
        print('Exeception occured ',e)
        job_description_ds.append(driver.find_element_by_xpath('//div[@class="nConfig_textblock "]').text) 

driver.close()

In [12]:
len(job_title_ds) , len(job_location_ds) , len(company_name_ds) , len(job_description_ds)

(0, 0, 0, 0)

In [13]:
full_job=pd.DataFrame({})
full_job['job_title_ds']=job_title_ds
full_job['job_location_ds']=job_location_ds
full_job['company_name_ds']=company_name_ds
full_job['job_description_ds']=job_description_ds

In [14]:
full_job.head()

Empty DataFrame
Columns: [job_title_ds, job_location_ds, company_name_ds, job_description_ds]
Index: []

# EXCERCISE III

In [79]:
#creating web driver object
driver=webdriver.Chrome(executable_path='C:\\Users\\suren\\FlipRobo\\Micro-Credit-Project\\chromedriver.exe')

#defining url
url_='https://www.naukri.com/'

#initialising driver
driver.get(url_)

#maximizing the window
driver.maximize_window()

#Finding the skill,qualification,company field and storing it into a variable
search_box=driver.find_element(By.XPATH,'//input[@id="qsb-keyword-sugg"]')

#definign key word to search and Sending key word to search field
key_word = 'Data Scientist'
search_box.send_keys(key_word)

#clicking on search button
driver.find_element(By.XPATH,'//div[@class="search-btn"]/button').click()

#selecting location from filter
time.sleep(5)
driver.find_element(By.XPATH,'//label[@for="chk-Delhi / NCR-cityTypeGid-"]/i').click()

#selecting salary range from filter
time.sleep(5)
driver.find_element(By.XPATH,'//label[@for="chk-3-6 Lakhs-ctcFilter-"]/i').click()

In [80]:
#creating empty list to append the details we scrap
job_title_fil =[]
job_location_fil =[]
company_name_fil=[]
experience_required_fil=[]


#getting xpath for each data and storing them in avariable
title=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
location=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
experience=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')

In [81]:
#looping title to restrict the counto to first 10 with indexing
for i in title[0:10]:
    job_title_fil.append(i.text)
    
#looping location to restrict the count to first 10 with indexing
for i in location[0:10]:
    job_location_fil.append(i.text)

#looping compny name to restrict the count to first 10 with indexing
for i in company[0:10]:
    company_name_fil.append(i.text)
    
#appending url of each job to retrieve full description for each job
for i in experience[0:10]:
    experience_required_fil.append(i.text)

In [82]:
filtered_job=pd.DataFrame({})
filtered_job['job_title_fil']=job_title_fil
filtered_job['job_location_fil']=job_location_fil
filtered_job['company_name_fil']=company_name_fil
filtered_job['experience_required_fil']=experience_required_fil

In [83]:
filtered_job.head(10)

,job_title_fil,job_location_fil,company_name_fil,experience_required_fil
0,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
1,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
2,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs
3,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
4,Junior Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,3-5 Yrs
5,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",RANDSTAD INDIA PVT LTD,4-7 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Milliman India Pvt Ltd,2-5 Yrs
7,Data Scientist,Noida,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
8,"Data Analyst/Scientist Big Data, Statistical T...",Gurgaon/Gurugram,The Search House (A Div of JSD Search House Pv...,2-7 Yrs
9,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs

In [19]:
from selenium.webdriver.common.keys import Keys

# EXCERCISE IV

Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company

In [24]:
#creating web driver object
driver=webdriver.Chrome(executable_path='C:\\Users\\suren\\FlipRobo\\Micro-Credit-Project\\chromedriver.exe')

#defining url
url='https://www.glassdoor.co.in/Job/index.htm'

#initialising driver
driver.get(url)

#maximizing the window
driver.maximize_window()

#clearing existing slectioinput and entering new job keyword
key_element=driver.find_element_by_xpath('//input[@name="sc.keyword"]')
key_element.send_keys('Data Scientist')

#entering location
loc_element=driver.find_element_by_xpath('//input[@id="LocationSearch"]')
loc_element.clear()
loc_element.send_keys('Noida')

#clicking on search button
driver.find_element(By.XPATH,'//button[@id="HeroSearchButton"]').click()

#selecting specific location as Noida to exclude near by cities if jobs are coming from near by cities as well
time.sleep(3)
try:
    driver.find_element(By.XPATH,'//div[@label="All Cities"]').click()
    driver.find_element(By.XPATH,'//div[@id="PrimaryDropdown"]//span[contains(text(),"Noida")]').click()
except NoSuchElementException as s:
    print(s)

In [26]:
#creating an empty list to scrape the details in a list form
gd_company_name=[]
gd_no_days=[]
gd_company_rating=[]

#scrapping company name and storing it into a list
cn_wb=driver.find_elements(By.XPATH,'//div[@class="d-flex justify-content-between align-items-start"]')

#looping number of companies required
for i in cn_wb[0:10]:
    gd_company_name.append(i.text)

In [27]:
gd_company_name

['Salasar New Age Technologies',
 'Crowe',
 'Data Patterns',
 'Biz2Credit Inc',
 'Ericsson',
 'Priority Vendor',
 'Techlive',
 'Lantern Digital Services',
 'Gauge Data Solutions',
 'xtLytics']

In [28]:
#scrapping age of post and appending it to the list
age_wb=driver.find_elements(By.XPATH,'//div[@data-test="job-age"]')

#looping number of companies required
for i in age_wb[0:10]:
    gd_no_days.append(i.text)

In [29]:
gd_no_days

['24h', '15d', '3d', '23d', '', '14d', '21d', '9d', '14d', '1d']

In [30]:
#scrapping age of post and appending it to the list
rate=driver.find_elements(By.XPATH,'//span[@class="css-19pjha7 e1cjmv6j1"]')
#looping number of companies required
for i in rate[0:10]:
    gd_company_rating.append(i.text)

In [31]:
gd_company_rating

['3.8', '3.0', '3.7', '4.1', '3.7', '5.0', '3.5', '3.0', '3.8', '3.7']

In [32]:
glassdoor=pd.DataFrame({})
glassdoor['company_name']=gd_company_name
glassdoor['Age pf add']=gd_no_days
glassdoor['Rating']=gd_company_rating

In [33]:
glassdoor.head(10)

                   company_name Age pf add Rating
0  Salasar New Age Technologies        24h    3.8
1                         Crowe        15d    3.0
2                 Data Patterns         3d    3.7
3                Biz2Credit Inc        23d    4.1
4                      Ericsson               3.7
5               Priority Vendor        14d    5.0
6                      Techlive        21d    3.5
7      Lantern Digital Services         9d    3.0
8          Gauge Data Solutions        14d    3.8
9                      xtLytics         1d    3.7

# EXCERCISE V

Write a python program to scrape the salary data for Data Scientist designation
in Noida location.

In [34]:
#creating web driver object
driver=webdriver.Chrome(executable_path='C:\\Users\\suren\\FlipRobo\\Micro-Credit-Project\\chromedriver.exe')

#defining url
url='https://www.glassdoor.co.in/Salaries/index.htm'

#initialising driver
driver.get(url)

#maximizing the window
driver.maximize_window()

#clearing existing slectioinput and entering new job keyword
key_element=driver.find_element_by_xpath('//input[@name="sc.keyword"]')
key_element.send_keys('Data Scientist')

#entering location
loc_element=driver.find_element_by_xpath('//input[@id="LocationSearch"]')
loc_element.clear()
loc_element.send_keys('Noida')

#clicking on search button
driver.find_element(By.XPATH,'//button[@id="HeroSearchButton"]').click()

#selecting specific location as Noida to exclude near by cities if jobs aare coming from 
#time.sleep(3)
#driver.find_element(By.XPATH,'//div[@label="All Cities"]').click()
#driver.find_element(By.XPATH,'//div[@id="PrimaryDropdown"]//span[contains(text(),"Noida")]').click()

In [35]:
#creating an empty list to scrape the details in a list form
Company_name=[]
Number_of_salaries=[]
Average_salary=[]
Min_salary=[]
Max_Salary=[]

#creating web element objevt for reequired details
com_name=driver.find_elements(By.XPATH,'//div[@class="py css-17435dd"]//div//div[2]/h3/a')
no_sal=driver.find_elements(By.XPATH,'//div[@class="col-12 col-lg-auto"]')
av_sal=driver.find_elements(By.XPATH,'//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]/h3')
min_sal=driver.find_elements(By.XPATH,'//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p[1]')
max_sal=driver.find_elements(By.XPATH,'//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p[2]')

#Looping company name
for i in com_name[0:10]:
    Company_name.append(i.text)
    
#Looping number of salaries 
for i in no_sal[0:10]:
    Number_of_salaries.append(i.text)

#Looping Average salary
for i in av_sal[0:10]:
    Average_salary.append(i.text)

#looping minimum salary
for i in min_sal[0:10]:
    Min_salary.append(i.text)

#looping maximum salary
for i in max_sal[0:10]:
    Max_Salary.append(i.text)
    
driver.close()

In [36]:
#creating dta frame with the details scrapped
glassdoor_salary=pd.DataFrame({})
glassdoor_salary['Company_name']=Company_name
glassdoor_salary['Number_of_salaries']=Number_of_salaries
glassdoor_salary['Average_salary']=Average_salary
glassdoor_salary['Min_salary']=Min_salary
glassdoor_salary['Max_Salary']=Max_Salary

In [37]:
glassdoor_salary.head(10)

Empty DataFrame
Columns: [Company_name, Number_of_salaries, Average_salary, Min_salary, Max_Salary]
Index: []

# EXCERCISE VI

Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [43]:
#creating web driver object
driver=webdriver.Chrome(executable_path='C:\\Users\\suren\\FlipRobo\\Micro-Credit-Project\\chromedriver.exe')

#defining url
url='https://www.flipkart.com/'

#initialising driver
driver.get(url)

#maximizing the window
driver.maximize_window()

#checking of the log in pop up is coming, if its comes closing the same
try:
    driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]').click()

except:
    print(' no pop up')

#entering the product to search
driver.find_element(By.XPATH,'//input[@title="Search for products, brands and more"]').send_keys('sunglasses')

#clicking on search button
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [44]:
#creating empty list to store the scrapped data
brand=[]
product_description=[]
price=[]
Discount=[]

#defining  variable for maximu number of data required
data_req=100

In [46]:
#looping each data ppend in  loop when length of a list is below 100
while len(brand)<data_req:
    
    #storing xpth into elements(This can be done out side loop as well)
    brand_ele=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    prod_ele=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    pri_ele=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    dis_ele=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
    next_ele=driver.find_element(By.XPATH,'//span[contains(text(), "Next")]')
    
    #looing brands and appending till 100
    for i in brand_ele:
        if len(brand)==data_req:
            break
        brand.append(i.text)

    #looing product name and appending till 100
    for i in prod_ele:
        if len(product_description)==data_req:
            break
        product_description.append(i.text)
        
    #looing price and appending till 100
    for i in pri_ele:
        if len(price)==data_req:
            break
        price.append(i.text)
    
    #looing discount and appending till 100
    for i in dis_ele:
        if len(Discount)==data_req:
            break
        Discount.append(i.text)
    
#checking if the required number of data are scrapped before clicking on next link if the reequired data is scrapped closing the browser
    if len(brand)!=100:
        time.sleep(3)
        next_ele.click()
        time.sleep(5)
    else:
        driver.close()

In [47]:
sunglass=pd.DataFrame({})
sunglass['brand']=brand
sunglass['Product']=product_description
sunglass['price']=price
sunglass['Discount']=Discount

In [48]:
sunglass.head()

,brand,Product,price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
1,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹570,28% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹621,22% off
4,PIRASO,UV Protection Aviator Sunglasses (58),₹331,87% off

# EXCERCISE VII

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link

1. Rating
2. Review_summary
3. Full review

In [52]:
#creating web driver object
driver=webdriver.Chrome(executable_path='C:\\Users\\suren\\FlipRobo\\Micro-Credit-Project\\chromedriver.exe')

#defining url
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'

#initialising driver
driver.get(url)

#maximizing the window
driver.maximize_window()

#getting all reviews
driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]').click()

In [53]:
#creating an empty list to store the data we scrap
Rating=[]
Review_summary=[]
Full_review=[]
no_of_reviews=100

In [55]:
#defining locators for each feaatur we need


while len(Rating)<100:
    
    #since the page is dynamic, nodes are not sme on different pges, to handle the stale exception located elements in try block
    try:
        rate_ele=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
        rev_sum_ele=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
        rev_ele=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div/div')
        next_ele=driver.find_element(By.XPATH,'//span[contains(text(), "Next")]')
    except StaleElementReferenceExceptions as e:
        print('Exceptions occured' , e)
        
    #Appending Rating feature untill 100
    for i in rate_ele:
        if len(Rating)==100:
            break
        Rating.append(i.text)
        
    #Appending review summary feature untill 100
    for i in rev_sum_ele:
        if len(Review_summary)==100:
            break
        Review_summary.append(i.text)
        
    #Appending review summary feature untill 100    
    for i in rev_ele:
        if len(Full_review)==100:
            break
        Full_review.append(i.text)
     
    #restring the next page navigation in if block to stop navigating to next pages as soon as we get  data
    if len(Rating)!=100:
        #since i got click intercepted error tried handling the exception in try block
        try:
            time.sleep(3)
            next_ele.click()
            time.sleep(5)
        except ElementClickInterceptedException as c:
            print('Exception occured', c)
    else:
        driver.close()


len(Rating)

100

In [56]:
iphone_review=pd.DataFrame({})
iphone_review['Rating']=Rating
iphone_review['Review_summary']=Review_summary
iphone_review['Full_review']=Full_review

In [57]:
iphone_review.tail()

,Rating,Review_summary,Full_review
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Awesome,Can’t beat the software and hardware integrati...
97,4,Excellent,Value for money product. This iphone 11 is rea...
98,4,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
99,4,Wonderful,I genuinely liked it. One of the best mobile p...

# EXCERCISE VIII

Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field


You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

# code written for Excersie VI should work heree as well only change is the procduct we search

In [58]:
#creating web driver object
driver=webdriver.Chrome(executable_path='C:\\Users\\suren\\FlipRobo\\Micro-Credit-Project\\chromedriver.exe')

#defining url
url='https://www.flipkart.com/'

#initialising driver
driver.get(url)

#maximizing the window
driver.maximize_window()

#checking of the log in pop up is coming, if its comes closing the same
try:
    driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]').click()

except:
    print(' no pop up')

#entering the product to search
driver.find_element(By.XPATH,'//input[@title="Search for products, brands and more"]').send_keys('sneakers')

#clicking on search button
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [59]:
#creating empty list to store the scrapped data
brand=[]
product_description=[]
price=[]
Discount=[]

#defining  variable for maximu number of data required
data_req=100

In [61]:
#looping each data ppend in  loop when length of a list is below 100
while len(brand)<data_req:
    
    #storing xpth into elements(This can be done out side loop as well)
    brand_ele=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    prod_ele=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    pri_ele=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    dis_ele=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
    next_ele=driver.find_element(By.XPATH,'//span[contains(text(), "Next")]')
    
    #looing brands and appending till 100
    for i in brand_ele:
        if len(brand)==data_req:
            break
        brand.append(i.text)

    #looing product name and appending till 100
    for i in prod_ele:
        if len(product_description)==data_req:
            break
        product_description.append(i.text)
        
    #looing price and appending till 100
    for i in pri_ele:
        if len(price)==data_req:
            break
        price.append(i.text)
    
    #looing discount and appending till 100
    for i in dis_ele:
        if len(Discount)==data_req:
            break
        Discount.append(i.text)
    
#checking if the required number of data are scrapped before clicking on next link if the reequired data is scrapped closing the browser
    if len(brand)!=100:
        time.sleep(3)
        next_ele.click()
        time.sleep(5)
    else:
        driver.close()

In [62]:
len(brand), len(product_description), len(price), len(Discount)

(100, 100, 100, 100)

In [63]:
sneakers=pd.DataFrame({})
sneakers['brand']=brand
sneakers['Product']=product_description
sneakers['price']=price
sneakers['Discount %']=Discount

In [64]:
sneakers.head()

,brand,Product,price,Discount %
0,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹448,₹1050 off
1,India hub,Fashionable casual sneakers shoes Sneakers For...,₹389,₹2610 off
2,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,₹377,₹621 off
3,KULP,Sneakers For Men,₹399,₹600 off
4,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹748,₹1248 off

# EXCERCISE IX

Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” ,
Color filter to “Black”, as shown in
the below image

scrape

brand               
product_description                    
price

In [90]:
#creating web driver object
driver=webdriver.Chrome(executable_path='C:\\Users\\suren\\FlipRobo\\Micro-Credit-Project\\chromedriver.exe')

#defining url
url='https://www.myntra.com/shoes'

#initialising driver
driver.get(url)

#maximizing the window
driver.maximize_window()

#applying price filter
price_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_button.click()

#applying color filter
driver.find_element(By.XPATH,'//span[@data-colorhex="black"]').click()

In [91]:
#creating an empty lst for each featur we need
brand=[]
product=[]
price=[]

no_of_data=100

In [92]:
while len(brand) < no_of_data:
    time.sleep(5)
    #since i got stale element  exception, to handle the stale exception located elements in try block
    try:
        brand_ele=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
        product_ele=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
        price_ele=driver.find_elements(By.XPATH,'//div[@class="product-price"]/span[1]')
    except StaleElementReferenceExceptions as e:
        print('Exceptions occured' , e)
    
    #appending brand details
    for i in brand_ele:
        brand.append(i.text)
    #appending product details
    for i in product_ele:
        product.append(i.text)
    #appending price details and using functions in string to extract the data needed
    for i in price_ele:
        splitted_price=i.text.split(' ')
        fin_price=splitted_price[1].replace('Rs.','')
        final_price='Rs.'+fin_price
        price.append(final_price)
        
    if len(brand)<no_of_data:
        driver.find_element(By.XPATH,'//a[@rel="next"]').click()

In [93]:
len(brand), len(product), len(price)

(100, 100, 100)

In [94]:
myntra=pd.DataFrame({})
myntra['brand']=brand
myntra['product']=product
myntra['price']=price

In [95]:
myntra.head()

                  brand                      product    price
0               MENGLER            Men Walking Shoes   Rs.645
1  Nabaiji By Decathlon   Unisex Aqua Aerobics Shoes   Rs.899
2                 ASICS     Kids Solid Running Shoes   Rs.758
3                  Nike  Men SPEEDREP Training Shoes  Rs.5756
4              Skechers    Go Flex 2 Contort Walking  Rs.4399

# EXCERCISE X

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price

In [72]:
#creating web driver object
driver=webdriver.Chrome(executable_path='C:\\Users\\suren\\FlipRobo\\Micro-Credit-Project\\chromedriver.exe')

#defining url
url='https://www.amazon.in/'

#initialising driver
driver.get(url)

#maximizing the window
driver.maximize_window()

#entering search items in the search bar
driver.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]').send_keys('Laptop')

#Clicking on search button
driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]').click()


#clicking on i9
try:
    driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/span').click()
except NoSuchElementExceptions as e:
    print('Exception occured',e)
    driver.find_element(By.XPATH,'//span[contains(text(),"Intel Core i9")]').click()
    
    
time.sleep(3)

try:
    driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span').click()
except NoSuchElementExceptions as e:
    print('Exception occured',e)
    driver.find_element(By.XPATH,'//span[contains(text(),"Intel Core i7")]').click()

In [73]:
#creating locators
title_ele=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
rating_ele=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span[1]')
price_ele=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

In [74]:
title=[]
rating=[]
price=[]

In [75]:
#appending title details
for i in title_ele[0:10]:
    title.append(i.text)
    
#appending rating details
for i in rating_ele[0:10]:
    rating.append(i.get_attribute('aria-label'))

#appending price details
for i in price_ele[0:10]:
    price.append(i.text)

In [76]:
len(title), len(rating), len(price),

(10, 10, 10)

In [77]:
laptop=pd.DataFrame({})
laptop['title']=title
laptop['rating']=rating
laptop['price']=price

In [78]:
laptop.head(10)

,title,rating,price
0,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...",4.2 out of 5 stars,"97,990"
1,Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...,3.3 out of 5 stars,"83,902"
2,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...",4.2 out of 5 stars,"97,990"
3,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.4 out of 5 stars,"54,999"
4,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.5 out of 5 stars,"84,990"
5,"ASUS ROG Zephyrus Duo 15, 15.6"" 4K UHD, Intel ...",3.8 out of 5 stars,"2,69,990"
6,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...",4.7 out of 5 stars,"88,990"
7,"MSI Gaming GL65 Leopard , Intel 9th Gen. i7-97...",4.4 out of 5 stars,"71,990"
8,"Lenovo Ideapad 5 Intel i7 11th Gen 15.6"" Thin ...",5.0 out of 5 stars,"78,990"
9,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,3.1 out of 5 stars,"26,990"